* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

input,
textarea {
    display: block;
}

canvas {
    width: 100%;
}

main {
    display: flex;
}

#large,
#small{
    margin-top: 50px;
    margin-bottom: 50px;
}

div#footer {
    width: 100%;
}

/* Inputs */

#inputs {
    margin: 10px;
    padding: 10px;
    background: #f0f0f0;
}

#page-selection {
    padding: 5px;
    border-bottom: #0F0F0F solid;
}

#inputs b {
    margin-right: 5px;
}


#inputs input {
    display: inline;
    margin-right: 10px;
}
